/*
 * Globals
 */

$main-color               : #212121;
$prompt1-color            : #a9a18c;
$prompt2-color            : #855723;
$prompt3-color            : #688d3c;
$prompt4-color            : #4e6172;
$prompt5-color            : #8f3b1b;
$background-color         : #ECEFF1;
$background-light-color   : #88BB88;
$background-lighter-color : #DCDFE1;

$font: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 

@mixin background-gradient ($color1,$color2) {
    background: $color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($color1,$color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color1,$color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($color1,$color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($color1,$color2); /* Standard syntax */
}

@mixin border-radius($radius) {
	border-radius         : $radius;
	-webkit-border-radius : $radius;
	-moz-border-radius    : $radius;
	-ms-border-radius     : $radius;
}

@mixin transition($time){
	-webkit-transition : all $time ease-in;
	-moz-transition    : all $time ease-in;
	-o-transition      : all $time ease-in;
	transition         : all $time ease-in;
}