@import 'globals';

*,body,p{
  text-shadow:none;
  color: $main-color;
  font-family: $font;
  }

/* Links */
a,
a:focus,
a:hover {
  text-decoration: none;
  color: $main-color;
  text-shadow: none;
} 
a{
  @include transition(0.5s);
  }
a:hover { 
  color: $background-light-color;
  }

/*
 * Base structure
 */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color : $background-color;
  color: $main-color;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,1);
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.transparent{
    opacity: 0.50;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

h1{
    font-size: 3em;
    font-family: arial,helvetica;
    color: $main-color;
    margin:0;
    text-shadow: none;
  }
p{
    color: $main-color;
    font-size: 1em;
  }


/*
 * Nav Scrolling
 */

.navbar{
	border:none;
  li a{
  color: $main-color;
  }
}

.navbar-default .navbar-brand{
  color: $main-color;
}

.navbar:hover{
	@include transition(1.0s);
	opacity : 1.0;
}

.navbar-default .navbar-nav>li>a{
  color: $main-color;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color:$background-color;
}

.noscroll{
	@include transition(1.0s);
	background-color : $background-light-color;
}

.active-noscroll{
	@include transition(1.0s);
	background-color : $background-color;
}

.scroll{
	@include transition(1.5s);
	background-color : $background-color;
  opacity: 0.9;
}

.scroll:hover{
  background-color : $background-light-color;
}

.active-scroll{	
	@include transition(1.5s);
	background-color : $background-light-color;
  opacity: 0.9;
}

.is-hidden{
	display : none;
}

.is-active{
	display : flex;
}
/*
 * Gradient
 */

.gradient{ 
@include background-gradient ($background-light-color 5%, $background-color 100%);
text-shadow: none;
}

/*
 * Cover
 */

.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
ul{
  list-style: none;
  padding-left: 0;
}
#l1:hover{
  color:$prompt1-color;
  text-shadow: none;
}
#l2:hover{
  color:$prompt2-color;
  text-shadow: none;
}
#l3:hover{
  color:$prompt3-color;
  text-shadow: none;
}
#l4:hover{
  color:$prompt4-color;
  text-shadow: none;
}
.l1h{
  @include transition(1.5s);
  background-color:$prompt1-color;
}
.l2h{
  @include transition(1.5s);
  background-color:$prompt2-color;
}
.l3h{
  @include transition(1.5s);
  background-color:$prompt3-color;
}
.l4h{
  @include transition(1.5s);
  background-color:$prompt4-color;
}


/*
 * Main splash
 */

#qa{
  @include border-radius(3px);
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}
#question{
  padding-top: 30%;
  padding-right: 3px;
}
#answer{
  padding-top: 30%;
  flex-flow: row wrap;
  justify-content: space-between;
}
.fill{
  padding: 20px;
}

/*
 * Portfolio
 */
 .portfolio{
  border: 1px $background-color solid;
  @include border-radius(3px);
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .example{
  border: 3px $background-light-color solid;
  @include border-radius(3px);
  width: 20%;
  padding: 10px;
 }
 .gotoport{
  border: 3px $background-light-color solid;
  @include border-radius(5px);
  padding: 5px;
 }
 .gotoport:hover{
  background-color: $background-color;
  color: $main-color
 }
 .gotoport:active{
  background-color: $background-lighter-color;
  color: $background-light-color;
 }
 #e1{
  background-color: $prompt1-color;
 }
#e2{
  background-color: $prompt2-color;
 }
#e3{
  background-color: $prompt3-color;
 }
#e4{
  background-color: $prompt4-color;
 }
 .p-hidden{
  visibility: hidden;
 }
 .p-visible{
  visibility: visible;
 }


/*
 * Buying Cycle
 */

.buyingcycle{
  height: 100px;
  padding-top: 5px;
  text-align: center;
}
.buyingcycletwo{
  height: 140px;
  padding-top: 5px;
  text-align: center;
}

/* 
 * Centered texts in each section
 */
.section{
    text-align:left;
    margin-top: 30px;
  }

/* 
 * Overwriting styles for control arrows for slides
 */
.controlArrow.prev {
    left: 50px;
  }
.controlArrow.next{
    right: 50px;
  }


/*
 * Footer
 */

  #footer{
    position:fixed;
    height: 3%;
    display:block;
    width: 100%;
    text-align:center;
    vertical-align: text-top;
    padding: 0 0 0 0;
    bottom:0px;
    text-shadow: none;
    color: $main-color;
  }

/*
 * Modal
 */
.modal, .modal p, .modal h1, .modal a{
  color: #000;
  text-shadow: none;
  text-align: justify;
}
.modal a:hover{
  color: #268;
}
#myModal, #myModal p, #myModal h1, #myModal a{
  text-align: center;
}

/*
 * Affix and center
 */

 .intro{
  padding-top: 20px;
  padding-bottom: 5%;
 }

@media (max-width: 768px) {
  /* Pull out the header and footer */
  *, body{
  overflow: scroll;
  }
  #footer{
    display: none;
  }
  .section{
  }
  ul{
    text-align: left;
  }
  #qa{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  }

/*
 * Portfolio
 */
 .portfolio{
  border: 1px $background-color solid;
  @include border-radius(3px);
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: space-around;
 }
 .example{
  border: 3px $background-light-color solid;
  @include border-radius(3px);
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
 }

  #question{
    order: 1;
  }
  #answer{
    order: -1;
  }
}
.buyingcycle{
  height: 150px;
  padding-top: 5px;
  text-align: center;
}
.buyingcycletwo{
  height: 180px;
  padding-top: 5px;
  text-align: center;
}
