/*
 * Globals
 */
body {
  background-color: #ECEFF1; }

#fullpage {
  height: 100%; }

.section {
  margin: 0px 7% 0px 7%;
  padding: 10%; }

.section p, .section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  color: #ECEFF1;
  text-shadow: none; }

.section a {
  display: block;
  font-size: 24px; }

.section a:hover {
  color: #ECEFF1;
  text-shadow: none; }

.btn {
  height: 20%;
  margin: 0 10px 0 10px;
  padding: 10px;
  background-color: #ECEFF1;
  border: none; }

#aButton:hover {
  background-color: #a9a18c; }

#bButton:hover {
  background-color: #855723; }

#cButton:hover {
  background-color: #688d3c; }

#dButton:hover {
  background-color: #4e6172; }

#eButton:hover {
  background-color: #8f3b1b; }

.btn-active {
  background-color: #88BB88; }

#intro {
  height: 100%;
  margin: 10% 5% 10px 5%;
  padding: 10%; }
  #intro p, #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #212121;
    text-align: left;
    text-shadow: none; }

#prompt1 {
  background: #a9a18c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a9a18c, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a9a18c, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a9a18c, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a9a18c, #212121);
  /* Standard syntax */ }

#prompt2 {
  background: #855723;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#855723, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#855723, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#855723, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#855723, #212121);
  /* Standard syntax */ }

#prompt3 {
  background: #688d3c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#688d3c, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#688d3c, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#688d3c, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#688d3c, #212121);
  /* Standard syntax */ }

#prompt4 {
  background: #4e6172;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4e6172, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4e6172, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4e6172, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4e6172, #212121);
  /* Standard syntax */ }

#prompt5 {
  background: #8f3b1b;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8f3b1b, #212121);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8f3b1b, #212121);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8f3b1b, #212121);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8f3b1b, #212121);
  /* Standard syntax */ }

.black {
  padding-top: 100px;
  background: #212121;
  color: #ECEFF1; }

.black h1 {
  color: #ECEFF1; }

#clientList {
  margin-bottom: 100px; }

.modal p, .modal h3, .modal h4 {
  color: #212121; }

.button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  background: #ECEFF1;
  color: #212121;
  border: 1px solid #88BB88; }

.button:hover {
  background: #88BB88; }

.button:active {
  background: #ECEFF1; }

.button:focus {
  outline: none; }

/*# sourceMappingURL=portfolio.css.map */
