/*
 * Globals
 */
body {
  background-color: #ECEFF1; }

.section {
  margin: 100px 5% 100px 5%;
  padding: 10%; }

.section p, .section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  color: #212121;
  text-shadow: none; }

.btn {
  height: 20%;
  margin: 0 10px 0 10px;
  padding: 10px;
  background-color: #ECEFF1;
  border: none; }

#aButton:hover {
  background-color: #a9a18c; }

#bButton:hover {
  background-color: #855723; }

#cButton:hover {
  background-color: #688d3c; }

#dButton:hover {
  background-color: #4e6172; }

.btn-active {
  background-color: #88BB88; }

#intro {
  height: 100%;
  margin: 10% 5% 0px 5%;
  padding: 10%; }
  #intro p, #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #212121;
    text-align: left;
    text-shadow: none; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0.01; }

.footer:hover {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1.0; }

#buying {
  background: #88BB88;
  color: #212121; }

#buying h1 {
  color: #212121; }

.row {
  margin: 10px auto 10px auto; }
  .row div {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    background-color: #212121;
    color: #ECEFF1;
    border: 3px outset #88BB88; }
  .row div:active {
    border: 3px inset #88BB88; }

#b1:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #a9a18c; }

#b2:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #a9a18c; }

#b3:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #855723; }

#b4:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #688d3c; }

#b5:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #4e6172; }

#b6:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #8f3b1b; }

#b7:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #8f3b1b; }

#b8:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #8f3b1b; }

#m1:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #a9a18c; }

#m2:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #855723; }

#m3:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #688d3c; }

#m4:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #4e6172; }

#m5:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #8f3b1b; }

/*# sourceMappingURL=process.css.map */
