/*
 * Globals
 */
*, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  color: #212121;
  text-shadow: none; }

p {
  font-size: 20px; }

a {
  color: #212121; }

body {
  background-color: #ECEFF1; }

.section {
  margin: 100px 5% 100px 5%;
  padding: 10%;
  border: 1px #cc3333 groove;
  box-shadow: 1px 1px 3px #212121; }

.section p, .section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  color: #212121;
  text-shadow: none; }

.scrap {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 40px 10px 20px 10px;
  margin: 10px;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 0 10px 8px -8px #777;
  border: 2px solid #212121;
  background: #88BB88;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#88BB88, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#88BB88, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#88BB88, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#88BB88, #ECEFF1);
  /* Standard syntax */ }

#scraps {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around;
  margin-bottom: 20px;
  white-space: nowrap; }

.scrap > p {
  font-size: 24px; }

.scrap > ul {
  font-size: 16px; }

.scrap:hover {
  cursor: pointer; }

.hidden {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0; }

.visible {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1; }

#intro {
  height: 100%;
  margin: 10% 5% 0px 5%;
  padding: 10%; }
  #intro p, #intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #212121;
    text-align: left;
    text-shadow: none; }

#buying {
  background: #88BB88;
  color: #212121; }

#buying h1 {
  color: #212121; }

@media (max-width: 1000px) {
  #banner {
    padding-top: 15%;
    float: left; }
  #fill {
    position: fixed;
    top: 100px;
    padding: 10px;
    margin-right: 5%;
    background-color: #ECEFF1;
    border: 1px #cc3333 groove; }
  .scrap {
    width: 100%;
    opacity: 0.95;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    padding: 40px;
    margin-bottom: 10px;
    background-color: #ECEFF1;
    box-shadow: 0 10px 6px -6px #777; }
  .scrap > ul {
    margin-left: auto;
    margin-right: auto; }
  #scraps {
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: space-around; }
  #buying {
    display: flex;
    flex-flow: column nowrap; }
  #l1 {
    background: #a9a18c;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#a9a18c, #a57743);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a9a18c, #a57743);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a9a18c, #a57743);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a9a18c, #a57743);
    /* Standard syntax */ }
  #l2 {
    background: #a57743;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#a57743, #688d3c);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a57743, #688d3c);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a57743, #688d3c);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a57743, #688d3c);
    /* Standard syntax */ }
  #l3 {
    background: #688d3c;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#688d3c, #A3ADB8);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#688d3c, #A3ADB8);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#688d3c, #A3ADB8);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#688d3c, #A3ADB8);
    /* Standard syntax */ }
  #l4 {
    background: #A3ADB8;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#A3ADB8, #259575);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3ADB8, #259575);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3ADB8, #259575);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3ADB8, #259575);
    /* Standard syntax */ }
  #l5 {
    background: #259575;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#259575, #a9a18c);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#259575, #a9a18c);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#259575, #a9a18c);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#259575, #a9a18c);
    /* Standard syntax */ }
  #l6 {
    background: #a9a18c;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#a9a18c, #CC3333);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a9a18c, #CC3333);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a9a18c, #CC3333);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a9a18c, #CC3333);
    /* Standard syntax */ } }
