@import 'globals';

body{
	background-color : $background-color;
}

#fullpage{
}

.section{
	margin  : 100px 5% 100px 5%;
	padding : 10%;
}

.section {
	p, h1, h2, h3, h4, h5, h6 {
		color       : $main-color;
		text-shadow : none;
	}
}

.btn{
	height           : 20%;
	margin           : 0 10px 0 10px;
	padding          : 10px;

	background-color : $background-color;
	border           : none;
}

#aButton:hover{
	background-color : $prompt1-color;
}

#bButton:hover{
	background-color : $prompt2-color;
}

#cButton:hover{
	background-color : $prompt3-color;
}

#dButton:hover{
	background-color : $prompt4-color;
}

.btn-active{
	background-color : $background-light-color;
}

#intro {
	height  : 100%;
	margin  : 10% 5% 0px 5%;
	padding : 10%;

	p, h1, h2, h3, h4, h5, h6 {
		color       : $main-color;
		text-align  : left;
		text-shadow : none;
	}
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	@include transition(1s);
	opacity: 0.01;
}

.footer:hover{
	@include transition(1s);
	opacity: 1.0;
}

#buying{
	background : $background-light-color;
	color      : $main-color;
}

#buying h1{
	color : $main-color;
}

.row {
	margin : 10px auto 10px auto;
	div{
		@include border-radius(0px);
		@include transition(1s);

		background-color : $main-color;
		color            : $background-color;
		border           : 3px outset $background-light-color;
	}
	div:active{
		border 			 : 3px inset $background-light-color; 	
	}
}

#b1:hover{
	@include transition(0.5s);
	background-color : $prompt1-color;
}

#b2:hover{
	@include transition(0.5s);
	background-color : $prompt1-color;
}

#b3:hover{
	@include transition(0.5s);
	background-color : $prompt2-color;
}

#b4:hover{
	@include transition(0.5s);
	background-color : $prompt3-color;
}

#b5:hover{
	@include transition(0.5s);
	background-color : $prompt4-color;
}

#b6:hover{
	@include transition(0.5s);
	background-color : $prompt5-color;
}

#b7:hover{
	@include transition(0.5s);
	background-color : $prompt5-color;
}

#b8:hover{
	@include transition(0.5s);
	background-color : $prompt5-color;
}

#m1:hover{
	@include transition(0.5s);
	background-color : $prompt1-color;
}

#m2:hover{
	@include transition(0.5s);
	background-color : $prompt2-color;
}

#m3:hover{
	@include transition(0.5s);
	background-color : $prompt3-color;
}

#m4:hover{
	@include transition(0.5s);
	background-color : $prompt4-color;
}

#m5:hover{
	@include transition(0.5s);
	background-color : $prompt5-color;
}
