/*
 * Globals
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
*, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  color: #212121;
  text-shadow: none; }

p {
  font-size: 20px; }

a {
  color: #212121; }

body {
  background-color: #ECEFF1; }

#section0 {
  margin-top: 110px;
  background: #a9a18c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a9a18c, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a9a18c, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a9a18c, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a9a18c, #ECEFF1);
  /* Standard syntax */ }

#section1 {
  background: #a57743;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a57743, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a57743, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a57743, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a57743, #ECEFF1);
  /* Standard syntax */ }

#section2 {
  background: #688d3c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#688d3c, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#688d3c, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#688d3c, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#688d3c, #ECEFF1);
  /* Standard syntax */ }

#section3 {
  background: #A3ADB8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A3ADB8, #ECEFF1);
  /* Standard syntax */
  margin-bottom: 200px; }

#section4 {
  background: #259575;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#259575, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#259575, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#259575, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#259575, #ECEFF1);
  /* Standard syntax */ }

.divider {
  height: 100%;
  padding: 10%;
  margin: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px; }

dd {
  font-size: 18px; }

dt {
  font-size: 18px; }

.disc {
  padding-left: 1.8em;
  padding-top: 1em; }

#arrow1 {
  border-right: 15px solid #212121;
  border-bottom: 15px solid #212121;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  position: relative;
  top: 50px;
  left: 95%; }

#arrow1:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 15px solid #a57743;
  border-bottom: 15px solid #a57743; }

#arrow1:active {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-right: 15px solid #88BB88;
  border-bottom: 15px solid #88BB88; }

#arrow2 {
  border-right: 15px solid #212121;
  border-bottom: 15px solid #212121;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  position: relative;
  top: 50px;
  left: 95%; }

#arrow2:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 15px solid #688d3c;
  border-bottom: 15px solid #688d3c; }

#arrow2:active {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-right: 15px solid #88BB88;
  border-bottom: 15px solid #88BB88; }

#arrow3 {
  border-right: 15px solid #212121;
  border-bottom: 15px solid #212121;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  position: relative;
  top: 50px;
  left: 95%; }

#arrow3:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 15px solid #A3ADB8;
  border-bottom: 15px solid #A3ADB8; }

#arrow3:active {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-right: 15px solid #88BB88;
  border-bottom: 15px solid #88BB88; }

#arrow4 {
  border-right: 15px solid #212121;
  border-bottom: 15px solid #212121;
  width: 50px;
  height: 50px;
  transform: rotate(225deg);
  position: relative;
  top: 50px;
  left: 95%; }

#arrow4:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 15px solid #a9a18c;
  border-bottom: 15px solid #a9a18c; }

#arrow4:active {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-right: 15px solid #88BB88;
  border-bottom: 15px solid #88BB88; }

@media (max-width: 992px) {
  .navbar-right {
    margin-top: -48px !important; } }

@media (max-width: 768px) {
  #section0 {
    padding-top: 15%; }
  .divider {
    margin: 10px 10px; }
  .btn-noscroll {
    display: none; }
  .btn-scroll {
    display: none; } }
