/*
 * Globals
 */
@import url("https://fonts.googleapis.com/css?family=Roboto");
*, body, p, h1, h2, h3, h4, h5, h6 {
  font-family: Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  color: #212121;
  text-shadow: none; }

p {
  font-size: 20px; }

a {
  color: #212121; }

body {
  background-color: #ECEFF1; }

img {
  max-width: 500px;
  max-height: 500px;
  margin: 10px; }

.jumbotron {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 3px #212121; }

aside {
  width: 19%;
  float: left;
  margin: 60px 0px 0px -20px;
  padding: 0px;
  position: fixed;
  text-align: left; }

#postr {
  width: 80%;
  float: right;
  position: float;
  background: #ECEFF1;
  padding: 40px 20px; }

.contain-all {
  width: 100%;
  display: inline; }

.go-back {
  margin-top: 30px; }

#post {
  background-gradient: #A3ADB8, #ECEFF1;
  background: #A3ADB8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#A3ADB8, #ECEFF1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#A3ADB8, #ECEFF1);
  /* Standard syntax */
  margin: 10px 10%;
  padding: 40px 20px; }

#postr p, #postr h1, #postr h2, #postr h3, #postr h4, #postr h5, #postr h6, #postr em, #postr strong {
  font-family: "Roboto", sans-serif; }

#postr img {
  margin: 15px auto;
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px #888888; }

#postr img + em {
  color: #259575;
  font-size: 16px;
  text-align: center;
  display: block; }

h1.page-heading {
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  text-align: center; }

ul.post-list {
  text-align: center;
  padding: 10px 0px;
  margin: 0px; }

p.post-meta {
  font-size: 15px; }

.post-header {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

a.post-link {
  padding-bottom: 40px; }

.post-title {
  padding: 20px 0 10px 0;
  margin: 0 0 0 0; }

h1.post-title {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif !important; }

.post-content {
  padding: 0px 40px;
  margin-top: 20px; }

.post-list-blog {
  margin-top: 60px;
  display: block;
  font-size: 18px; }

.scrap {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around;
  padding: 50px;
  background-color: #ECEFF1;
  box-shadow: 0 10px 6px -6px #777; }

.hidden {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0; }

.visible {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1; }

#scraps {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around; }

#a {
  padding: 20px; }

#ebtn {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around; }

#ex {
  background-color: #ECEFF1;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px; }

#exwrap {
  padding: 20px; }

#bcwrap {
  padding: 20px; }

#cl {
  margin: 20px auto 0 auto;
  width: 50%; }

#cl > a {
  color: #212121; }

#pbtn {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  justify-content: space-around; }

#nb {
  opacity: 0.95; }

#nav > ul {
  margin: 5%; }

#nav > ul > li {
  display: inline; }

#nav > ul > li.n-left {
  text-align: left; }

#nav > ul > li.n-right {
  text-align: right; }

.divider {
  height: 100%;
  margin: 10px;
  padding: 10%;
  border: 1px #cc3333 groove;
  box-shadow: 1px 1px 3px #212121; }

#banner {
  background-image: url(http://www.calvarymemorial.com/img/typewriter-icon.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 60% 60%;
  background-position: center;
  background-color: #a9a18c;
  margin-top: 60px; }

#question {
  background-image: url(http://williamleeks.com/img/home-typewriter.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 90%;
  background-color: #a57743;
  display: flex;
  flex-wrap: center; }

#headline {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px; }

#answer {
  background-image: url(https://cdn3.iconfinder.com/data/icons/creative-process/155/vector_258_11-01-512.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #688d3c;
  display: flex;
  flex-wrap: center; }

#example {
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/42984-200.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 98%;
  background-color: #A3ADB8; }

.eximg {
  display: inline; }

#eximg_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

#olm:hover {
  cursor: e-resize;
  box-shadow: 2px 2px 3px #212121; }

#clients {
  background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/42984-200.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 98%;
  background-color: #259575; }

#clientjumbo {
  background-color: #ECEFF1;
  opacity: 0.97; }

#rowone {
  margin: auto; }

#rowone img {
  display: inline-block;
  max-width: 250px;
  max-height: 250px;
  min-width: 200px; }

.arrow_box {
  position: relative;
  background: #ECEFF1;
  border: 1px solid #688d3c;
  opacity: 0.85; }

.arrow_box:hover {
  opacity: 1; }

.arrow_box_r:hover {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1; }

.arrow_box_r {
  position: relative;
  background: #ECEFF1;
  border: 1px solid #688d3c;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0.85; }

.arrow_box_r:after, .arrow_box_r:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box_r:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #ECEFF1;
  border-width: 30px;
  margin-top: -30px; }

.arrow_box_r:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #688d3c;
  border-width: 33px;
  margin-top: -33px; }

.msc_img {
  margin: auto; }

#msc_container {
  padding: 3% 10%; }

#top_btn {
  position: fixed;
  top: 90%;
  left: 94%;
  text-align: center;
  vertical-align: top;
  text-decoration: none; }

#arrow {
  border-right: 15px solid #212121;
  border-bottom: 15px solid #212121;
  width: 50px;
  height: 50px;
  transform: rotate(225deg); }

#arrow:hover {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-right: 15px solid #a9a18c;
  border-bottom: 15px solid #a9a18c; }

#arrow:active {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border-right: 15px solid #88BB88;
  border-bottom: 15px solid #88BB88; }

.btn-scroll {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0.8; }

.btn-noscroll {
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 0.0; }

.site-footer {
  display: block;
  position: relative; }

@media (max-width: 992px) {
  .navbar-right {
    margin-top: -48px !important; } }

@media (max-width: 768px) {
  #banner {
    padding-top: 15%;
    float: left; }
  #postr {
    width: 100%;
    padding: 10px 0px; }
  #post {
    width: 100%;
    margin: 0px 0px; }
  aside {
    position: static;
    width: 100%;
    margin: 0; }
  .scrap {
    width: 100%;
    opacity: 0.95;
    margin: 0 auto;
    position: relative;
    display: flex;
    float: left;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    padding: 50px;
    background-color: #ECEFF1;
    box-shadow: 0 10px 6px -6px #777;
    border-bottom: 1px solid black; }
  #scraps {
    width: 100%;
    margin: 20px auto;
    display: flex;
    float: left;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center; }
  #ebtn {
    margin: 20px;
    display: flex;
    float: left;
    flex-flow: column nowrap;
    align-content: space-around;
    justify-content: space-around; }
  #question {
    padding-top: 60px; }
  .divider {
    width: 100%;
    margin: 0; }
  #top_btn {
    position: fixed;
    top: 90%;
    left: 84%; } }
